.qitem{
    background:#EEE;
}
.qitem_content{
    padding-top:5px;
    padding-bottom:5px;
}

.table a:not(.btn), table a:not(.btn) {
    text-decoration: underline;
}
.huge {
  font-size: 40px;
}
#coursename {
    
}
.form-group {
    margin-bottom: 5px;
}
.navbar-nav .nav-item {
    //margin-left: 10px;
    //margin-right: 10px;
}
.filter-item-wrap{
	border: solid 1px #E6E9ED;
	margin-bottom:20px;
}
.filter-item-wrap li{
	float:left;
	display:inline;
	margin-right:20px;
}
.filter-item-wrap >li>a{
	float:left;
	margin-top:10px;
	padding: 0 10px;
	height:24px;
	line-height:24px;
	fon-size:14px;
	border-radius:5px;
}
.filter-item-wrap .filter-item{
	background-color:#f5f5f5;
}
.filter-item-wrap .filter-item:not(:last-child){
	border-bottom: dashed 1px #E6E9Ed;
	
}


.filter-item .filter-head{
	float:left;
    margin-top:10px;
	height:24px;
	width:65px;
	line-height:24px;
	font-size:14px;
	text-align:right;
	
}
.filter-item .filter-value{
	margin-left:80px;
	overflow:hidden;
	background-color:#fff;
}
.filter-item .filter-value a{
	margin:10px 0;
	display:inline-block;
	line-height:25px;
	padding:0 10px;
}
.filter-item .filter-value a:hover{
    margin:10px 0;
    display:inline-block;
    line-height:25px;
    padding:0 10px;
    color:#39f;
    
}

.filter-item .filter-value .active,.filter-item .filter-value .active:hover{
	color:#fff;
	background:#39f;
}
.filter-value-inner{
	padding: 5px;
}
.question-head-left, .question-head-right {
    font-size: 12px;
    color: #666;
    line-height: 30px;
    margin-bottom:0px;
}
.question-head-left span{
	margin-right:20px;
}

.question-head-left span{
	display:inline-block;
}

.page-head-left{
  height:40px;
  line-height:40px;	
}
.clearfix:after{
	clear:both;height:0;font-size: 1px;line-height: 0px;
}
.page-head-right{
	width:360px;
	float:left;
	background:#39f;
	height:40px;
	border-bottom:1px solid #39f;
	position:relative;
	font-size:16px;
	color:#fff;
	text-align:center;
	line-height:40px;
	text-indent:18px;
	margin:0px;
}
.questionbody, .questionanswer{
	margin-bottom:20px;
}

.breadcrumb{
	background-color:transparent;
	line-height:40px;
	
	margin: 6px 16px 0 12px;
	padding:0;
	
}

.breadcrumb>li,.breadcrumb>li.active{
	color:"#555;
	padding:0 3px;
}
.breadcrumb>li
{
	display:inline-block;
}
.nav-icon-highlight {
    color: #f40;
}

.paperhead .head-label{
    float:left;
    margin-top:10px;
    height:24px;
    width:65px;
    line-height:24px;
    font-size:14px;
    text-align:right;
}
.paperhead .head-content{
	magin-top:5px;
}
.operationbtn{
	margin-left:10px;
}
.warningtext{
	text-align:center;
}
.question-wrap:hover{
	border: solid 1px #39f;
}
.ques-body{
	margin:10px 0;
}
.panel-heading .add-btn{
	background-color:#39f;
	color:#fff;
	padding: 0 5px; 
}
.panel-heading .remove-btn{
    background-color:#f93;
    color:#fff;
    padding: 0 5px; 
}
.widget-toolbar {
	display:inline-block;
	position:relative;
}
.widget-toolbar li{
    float:left;
    cursor:pointer;	
}
.widget-toolbar li a{
	padding:5px;
	color:#333;
	font-size:14px;
}
.side_toolbar li a{
	text-decoration: underline;
}