.qitem{
    background:#EEE;
}
.qitem_content{
    padding-top:5px;
    padding-bottom:5px;
}

.table a:not(.btn), table a:not(.btn) {
    text-decoration: underline;
}
.huge {
  font-size: 40px;
}
#coursename {
    
}
.form-group {
    margin-bottom: 5px;
}
.navbar-nav .nav-item {
    //margin-left: 10px;
    //margin-right: 10px;
}
.filter-item-wrap li{
	float:left;
	display:inline;
	margin-right:20px;
}
.filter-item-wrap >li>a{
	float:left;
	margin-top:10px;
	padding: 0 10px;
	height:24px;
	line-height:24px;
	fon-size:14px;
	border-radius:5px;
}
.filter-item .filter-head{
	float:left;
    margin-top:10px;
	height:24px;
	width:65px;
	line-height:24px;
	font-size:14px;
	text-align:right;
}

.question-head-left, .question-head-right {
    font-size: 12px;
    color: #666;
    line-height: 30px;
    margin-bottom:0px;
}
.question-head-left span{
	margin-right:20px;
}

.question-head-left span{
	display:inline-block;
}

.page-head-left{
  height:40px;
  line-height:40px;	
}
.clearfix:after{
	clear:both;height:0;font-size: 1px;line-height: 0px;
}
.page-head-right{
	width:360px;
	float:left;
	background:#39f;
	height:40px;
	border-bottom:1px solid #39f;
	position:relative;
	font-size:16px;
	color:#fff;
	text-align:center;
	line-height:40px;
	text-indent:18px;
	margin:0px;
}
.questionbody, .questionanswer{
	margin-bottom:20px;
}

.breadcrumb{
	background-color:transparent;
	line-height:40px;
	
	margin: 6px 16px 0 12px;
	padding:0;
	
}

.breadcrumb>li,.breadcrumb>li.active{
	color:"#555;
	padding:0 3px;
}
.breadcrumb>li
{
	display:inline-block;
}
.nav-icon-highlight {
    color: #f40;
}

.paperhead .head-label{
    float:left;
    margin-top:10px;
    height:24px;
    width:65px;
    line-height:24px;
    font-size:14px;
    text-align:right;
}
.paperhead .head-content{
	magin-top:5px;
}
.operationbtn{
	margin-left:10px;
}
.warningtext{
	text-align:center;
}
