.qitem{
    background:#EEE;
}
.qitem_content{
    padding-top:5px;
    padding-bottom:5px;
}

.table a:not(.btn), table a:not(.btn) {
    text-decoration: underline;
}
.huge {
  font-size: 40px;
}
#coursename {
    
}
