@CHARSET "UTF-8";

  
.modal .sidebar-nav .navbar {
    border-radius: 0px;  
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {

  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .nav-sidebar{
  margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
      background-color: #f8f8f8;
    border-color: #e7e7e7;
  }
}